//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8 Beta
//Part Number: GW2AR-LV18QN88PC7/I6
//Device: GW2AR-18C
//Created Time: Wed 10 13 15:45:29 2021

IO_LOC "usb_dxp_io" 73,72;
IO_PORT "usb_dxp_io" PULL_MODE=NONE DRIVE=4;
IO_LOC "GPIO[5]" 82;
IO_PORT "GPIO[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[4]" 81;
IO_PORT "GPIO[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[3]" 86;
IO_PORT "GPIO[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[2]" 85;
IO_PORT "GPIO[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[1]" 84;
IO_PORT "GPIO[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[0]" 83;
IO_PORT "GPIO[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED" 13;
IO_PORT "LED" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "usb_pullup_en_o" 80;
IO_PORT "usb_pullup_en_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "usb_term_dn_io" 74;
IO_PORT "usb_term_dn_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "usb_term_dp_io" 75;
IO_PORT "usb_term_dp_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "usb_rxdn_i" 71;
IO_PORT "usb_rxdn_i" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "usb_rxdp_i" 77;
IO_PORT "usb_rxdp_i" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "RESET_N" 26;
IO_PORT "RESET_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CLK_IN" 10;
IO_PORT "CLK_IN" IO_TYPE=LVCMOS33 PULL_MODE=UP;
